body{
	font-family: arial;
	font-size: 14px;

}

#wraper{
	width: 90%;
	margin: 0 auto;
	min-height: 600px;
	background-color: grey;
}

#header{
	text-align: center;
	height: 150px;
	background-color: green;
}

#menu{
	height: 40px;
	background-color: yellow;
}

#sidebar{
	width: 30%;
	float: left;
	background-color: red;
	min-height: 300px;
}

#content{
	background-color: white;
	padding:0;
	width: 70%;
	float: right;
	min-height: 300px;
}

#footer{
	background-color: blue;
	height: 50px;
	text-align: center;
}

.clearfix{
	clear: both;
}

/* for menus */
#menu li{
	list-style: none;
	display: inline;
	padding: 10px 10px 0;

}

#menu ul{
	padding: 10px 0;
	margin: 0;
}