p {
	/*
	font-size: 20px;
	font-family: arial;
	font-weight: bold;

	color: red;

	text-align: center;
	vertical-align: middle;
	text-decoration: underline;

	height: 50px;
	width: 80%;
	min-width: 200px;

	border: 1px solid yellow;
	border-radius: 5px;

	margin: 100px 30px;
	

	 width: 250px;
	 margin: 100px auto;
	 text-align: center;
	 background-color: green;
	 height: 250px;
	 padding-right: 100px;
	 */
}

div{
	/*
	width: 500px;
	height: 500px;
	background-image: url(../images/bg-0001.png);
	background-size: 20%;
	background-repeat: repeat-all;
	*/
}

/*SELECTOR*/

/*
body{
	font-family: arial;
}

p{
	font-size: 15px;
}

#abc {
	color: red;
}

.def {
	color: blue;
}

.ghi{
	background-color: lightblue;
}

p,h3,div,label{
	text-decoration: underline;
}

*/

div p{
	color: red;
}

div>p{
	background-color: yellow;
}

div+p{
	text-align: center;
}

p:hover{
	background-color: green !important;
}

p{
	float: right;
	margin: 10px;
}

